<style type="text/css">
  .ukraine_header_banner {
    position: relative;
    height: 220px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .ukraine_header_banner_back1 {
    background: #0057b7;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 110px;
    width: 100%;
    padding: 12px;
  }
  .ukraine_header_banner_back2 {
    background: #ffd700;
    position: absolute;
    left: 0px;
    top: 110px;
    height: 110px;
    width: 100%;
    color: #DA291C;
    padding: 12px;
  }
  .ukraine_header_banner_back2_upcase {
    text-transform: uppercase;
    font-size: 26px;
  }
</style>

<div class="ukraine_header_banner">
  <div class="ukraine_header_banner_back1">
    Дорогие русские друзья,
    <br>
    Мир нуждается в вас.
  </div>
  <div class="ukraine_header_banner_back2">
    Выйдите, будьте услышаны и
    <br>
    <span class="ukraine_header_banner_back2_upcase">остановите путинскую войну.</span>
  </div>
</div>